{% extends 'base.html' %}


{% block titulo %}
    Registrar nuevo departamento
{% endblock titulo %}
    

{% block contenido %}
{% include 'includes/header.html' %}
<!--
<div class="container">
    <div class="row my-4">
        <div class="col-12"><h1>Registrar un nuevo departamento</h1></div>
    </div>
    <form method="POST"> {% csrf_token %}
        <div class="row">
            
            <div class="col-12"><h3>Datos del empleado</h3><br></div>
            
            <div class="col-5">
                <div class="form-group">
                    <label for="exampleInputEmail1">Nombre(s)</label>
                    {{form.nombre}}
                </div>
                
            </div>
            <div class="col-5">
                <div class="form-group">
                    <label for="exampleInputEmail1">Apellidos</label>
                    {{form.apellido}}
                </div>
                
            </div>
        </div>
        
        <div class="col-12"><h3>Datos del departamento</h3></div>
        
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="exampleInputEmail1">Departamento</label><br>
                    {{form.departamento}}
                </div>
                
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label for="exampleInputEmail1">Nombre corto</label>
                    {{form.short_name}}
                </div>
                
            </div>
        </div>
        <div class="row justify-content-around my-3">
            <div class="col-5">
                <button type="submit" class="btn btn-success btn-block">Registrar nuevo departamento</button>
            </div>
        </div>
    </form>
</div>
-->
<form method="POST"> {% csrf_token %}
    {{form}}
    <button type="submit" class="btn btn-success btn-block">Registrar nuevo departamento</button>
</form>

{% endblock contenido %}
    
